<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Cool Submission</title>
  

</head>
<body>
<!-- partial:index.partial.html -->
<div id="cool">
  <input type="text" v-model="name" placeholder="Name" />
  <input type="text" v-model="age" placeholder="Age" />
  <input type="text" v-model="email" placeholder="Email" />
  <input type="text" v-model="comment" placeholder="Comment" />
  <button>Submit</button>
  <div>{{message}}</div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
